.ContactTitle {
    color: darkred;
    font-size: 20px;
    width: 100%;
}

.ContactForm {
    width: 100%;
}

.col-md-12{
    margin-left:22%;
}

.col-md-12 input {
    width: 60%;
    height: 30px;
    margin: 5px 0px 5px 0px;
}

.col-md-12 textarea {
    width: 60%;
    max-width: 60% !important;
    height: 125px;
    margin: 5px 0px 5px 0px;
}

.col-md-6{
    margin-left: 1.7%;
}

.btn{
    width: 75px;
    height: 17px;
    padding: 0px;
    font-size: 0.8em;
}
.btn:focus {
    outline: none;
    outline-offset: 0px;
}