.ContactTitle {
    color: darkred;
    font-size: 20px;
    width: 100%;
    text-align:center;
}
.btn {
    padding: 0px;
    width: 7em;
    border: 1.5px solid #d6d6d6;
    background-color: #fff;
    color: black;
    font-size: 12px;
}


.btn:focus {
    outline: none;
    outline-offset: 0px;
}