.ContactTitle {
    color: darkred;
    font-size: 20px;
    width: 100%;
}

.ContactForm {
    width: 100%;
}

.massege-box{
    max-width: 100%;
}

.btn{
    width: 75px;
    height: 17px;
    padding: 0px;
    font-size: 0.8em;
}
.btn:focus {
    outline: none;
    outline-offset: 0px;
}