@media only screen and (max-width: 600px) {
    .Countcontainer {
        position: relative;
        background: #ff0000;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
        width: 50px;
        height: 40px;
        border-radius: 25px;
        padding: 0px;
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 16px;
    }

        .Countcontainer:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 7px 8px 0 0;
            border-color: #ff0000 transparent transparent transparent;
            bottom: -7px;
            left: 41%;
            margin-left: -4px;
        }
}

@media only screen and (min-width: 601px) {
    .Countcontainer {
        position: relative;
        background: #ff0000;
        color: #ffffff;
        font-family: Arial;
        font-size: 13px;
        line-height: 30px;
        text-align: center;
        width: 40px;
        height: 30px;
        border-radius: 16px;
        padding: 0px;
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
    }

        .Countcontainer:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 7px 8px 0 0;
            border-color: #ff0000 transparent transparent transparent;
            bottom: -7px;
            left: 41%;
            margin-left: -4px;
        }
}
