body{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.movie-img {
    width: 100%;
}
.imageContainer {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #262626;
}
.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.imageContainer:hover .overlay {
    opacity: 0.5;
}
.imageContainer:hover .overlay2 {
    opacity: 1;
}
.textred {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.textwhite {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.playbtnImg {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%
}
@media only screen and (max-width: 600px) {
    .Countcontainer {
        position: relative;
        background: #ff0000;
        color: #ffffff;
        line-height: 40px;
        text-align: center;
        width: 50px;
        height: 40px;
        border-radius: 25px;
        padding: 0px;
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 16px;
    }

    .Countcontainer:after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-width: 7px 8px 0 0;
        border-color: #ff0000 transparent transparent transparent;
        bottom: -7px;
        left: 41%;
        margin-left: -4px;
    }
}
@media only screen and (min-width: 601px) {
    .Countcontainer {
        position: relative;
        background: #ff0000;
        color: #ffffff;
        font-family: Arial;
        font-size: 13px;
        line-height: 30px;
        text-align: center;
        width: 40px;
        height: 30px;
        border-radius: 16px;
        padding: 0px;
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .Countcontainer:after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        z-index: 1;
        border-style: solid;
        border-width: 7px 8px 0 0;
        border-color: #ff0000 transparent transparent transparent;
        bottom: -7px;
        left: 41%;
        margin-left: -4px;
    }
}
.Countcontainerfix {
    width: 100%;
    height: 60px;
}
