body {
}

.MovieTitel {
    color:red;
}

.MatchedTop {
    padding: 2px 0 20px 0;
}

.placingTop {
    padding: 5px 0 10px 0px;
}

.no-padding{
    padding: 0px;
}

.padding-bot {
    padding-bottom: 20px;
}

.spacing {
    padding: 5px 0 10px 0;
}