body{
}

/* The Containers and bold class*/
.grid-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid-container p{
    font-size:12px;
    margin: 2px;
}

.bold{
    font-weight: bold;
}

/* The grid Setup*/
.Title{
    grid-column: 1/ span 2;
}

.Title h1{
    margin-top: 0;
    font-size: 1.7em;
}

.CommentsAmount{
    grid-column: 3 / span 2;
    text-align: right;
}

.ReleaseDate{
    text-align: right;
}

.Trailer{
    grid-column: 2 / span 3;
}

.Trailer iframe{
    width: 100%;
    height: 100%;
    padding-left: 5px;
}

.Image img{
    width: 100%;
}

.Writers{
    grid-column: 2/ span 2;
    text-align: center;
}

.Stars{
    text-align: right;
}


.container textarea{
    grid-column: 1 / span 4;
    width: 100%;
    height: 125px;
}

/* The Description and adding a comment*/

.description h1{
    font-size: 1.5em;
}

.description p{
    font-size: 0.86em;
}

.col-12{
    padding: 0px;
}

.btn{
    padding: 0px;
    width: 5.5em;
    border: 1.4px solid black;
    background-color: #fff;
    color: black;
    font-size: 14px
}

/* Comments */
.Comment p {
    font-size: 0.86em;
}