@model Flick_Click.Models.SearchModel
@{
    ViewBag.Title = "Search";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/Content/CSS/Search.css"/>
</head>

    @*<form style="display: inline-flex">
        <p class="H2Spacing HFTekstColor"><b>SEARCH</b></p>
        <asp:TextBox class="Input1" type="search" name="GSearch" id="GSearch" placeholder="Enter search here" aria-label="Search">
            <p class="H2Spacing b1 HFTekstColor">@Html.ActionLink("Go!", "Search", "Search", new { GSearch = GSearch.value }, null)</p>
            <Script>
                function GetSearchInput() {
                    var GSearch = document.getElementById("GSearch");
                }

            </Script>
    </form>*@
    @using (Html.BeginForm("SearchResult","Search", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <section>
            <strong class="text-color-white search-text">SEARCH</strong>
            @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "searchbox", placeholder = "Enter Search Here" } })
            @Html.ValidationMessageFor(model => model.Search, "", new { @class = "text-danger" })
            <button class="b1 text-color-white search-button">GO!</button>
        </section>
    }

