@model IEnumerable<Flick_Click.Models.MovieCommentCountModel>

@{
    ViewBag.Title = "LoadMovies";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/Home.css" />
</head>

<div class="container">
    <div class="flex-row">
        <p style="float:left">Latest Trailers</p>
        <p style="float:right">@Html.ActionLink("Show All", "LatestTrailer", "LatestTrailer")</p>
    </div>
    <br />
    <div class="flex-row movie-row">
        @foreach (var item in Model)
        {
            <div class="div-width">
                <img class="movie-img" src="@item.Img" />
                <br />
                <p>@item.CommentCount</p>
                <img class="comment-img" src="https://hmsconco.com/wp-content/uploads/2017/01/red-speech-bubble.png" />
            </div>
        }
    </div>

</div>
