@{
    ViewBag.Title = "MovieDetails";
}
<head>
    <link href="~/Content/CSS/MovieDetails.css" rel="stylesheet" />
</head>


<div class="grid-container">
    <div class="Title">
        <h4 class="bold">MOVIE TITLE</h4>
    </div>
    <div class="CommentsAmount">
        <p class="bold">Comments: Comments_Count</p>
    </div>
    <div class="Rating">
        <p class="bold">Age Rating: </p>
    </div>
    <div class="MovieDuration">
        <p class="bold">Duration: </p> 
    </div>
    <div class="Genre">
        <p class="bold">Genre: </p> 
    </div>
    <div class="ReleaseDate">
        <p class="bold">Release Date: </p>
    </div>
    <div class="Image">
        <img src="" alt="Image" />
    </div>
    <div class="Trailer">
        <h1>Movie Trailer</h1>
    </div>
    <div class="Director">
        <p class="bold">Director: </p>
    </div>
    <div class="Writers">
        <p class="bold">Writers:</p>
    </div>
    <div class="Stars">
        <p class="bold">Stars:</p >
    </div>
</div>

<div class="container">
    <div>
        <h4 class="bold">Description</h4>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
            pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
            Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex,
            in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
        </p>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
            pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
            Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex,
            in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
        </p>
    </div>
    <div>
        <p>Comments: Comments_count</p>
    </div>
    <div class="Comment">
        <p class="bold">Post a comment</p>
    </div>
    <div>
        <textarea placeholder="Write you comment here..."></textarea>
    </div>
    <button class="button bold" type="button">Post</button>
</div>

<div class="container">

</div>
