@model IEnumerable<Flick_Click.Models.MovieModel>

@{
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/Home.css" />
</head>

<h2>Most Commented movies</h2>

<br />
<div class="flex-row movie-row">
    @foreach (var item in Model)
    {
        <div class="div-width">
            <div class="imageContainer">
                <img class="movie-img" src="@item.Img" />
                <div class="overlay">
                </div>
                <div class="overlay2">
                    <div class="textred">Go to Movie</div>
                    <div class="playbtnImg"><img style="width:50%;" src="~/Content/Pictures/play-btn.png" /></div>
                    <div class="textwhite">@item.Title</div>
                </div>
            </div>
            <div class="Countcontainer">
                <img class="comment-img" src="https://hmsconco.com/wp-content/uploads/2017/01/red-speech-bubble.png" />
                <div class="centered">@item.CommentCount</div>
            </div>
        </div>
    }
</div>