@model IEnumerable<Flick_Click.Models.CommentsModel>

@{
    ViewBag.Title = "MovieComments";
    Layout = null;
}
<hr />

@foreach (var item in Model)
{
    <div>
        <strong>@item.Name <span class="RedText">@item.Created</span></strong>
        <p>@item.Content</p>

        @Html.ActionLink("Delete", "Movie", new { id = item.ID, MovieID = item.Movie_ID })
    </div>
}
<hr />
