@model IEnumerable<Flick_Click.Models.CommentsModel>

@{
    ViewBag.Title = "MovieComments";
    Layout = null;
}
<hr />

@foreach (var item in Model)
{
    using (Html.BeginForm("Delete", "Movie", new { id = item.ID, MovieID = item.Movie_ID}))
    {
        <div class="Comment">
            <strong>@item.Name <span class="RedText">@item.Created</span></strong>
            <p>@item.Content</p>
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record with ID = @item.ID');" class="btn" />
        </div>
    }
}