@model IEnumerable<Flick_Click.Models.MovieModel>

@{
    ViewBag.Title = "ShowAll";
}

<head>
    <link rel="stylesheet" href="~/Content/CSS/MovieDefault.css" />
</head>

<h2>Show All</h2>

<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-12 col-md-4 col-lg-2 nedspase-bottom">

            <div class="imageContainer">

                <img class="movie-img" src="@item.Img" />
                <div class="overlay">
                </div>

                <div class="overlay2">
                    <div class="overlay-text-top">Go to Movie</div>
                    <div class="playbtnImg">
                        <a href="@Url.Action("MovieDetails", "Movie", new { id = item.ID }, null)">
                            <img style="width:50%;" src="~/Content/Pictures/play-btn.png" />
                        </a>
                    </div>
                    <div class="overlay-text-bot">@item.Title</div>
                </div>

            </div>
        </div>
    }
</div>