@model Flick_Click.Models.SearchModel
@{
    ViewBag.Title = "administration";



}
@{
    if (Session["Group_ID"] != null)
    {

        if (Session["Group_ID"].ToString() == "2")
        {
            <head>
                <link rel="stylesheet" href="~/Content/CSS/Administration.css" />
            </head>

            <div class="row">
                <div class="col-md-3 col-sm-12 linkStyling">
                    <a>@Html.ActionLink("All Movies", "AllMovies", "Administration")</a>
                </div>
                <div class="col-md-3 col-sm-12 linkStyling">
                    @Html.ActionLink("All News", "AllNews", "Administration")
                </div>
                <div class="col-md-3 col-sm-12 linkStyling">
                    @Html.ActionLink("All Comments", "AllComments", "Administration")
                </div>
                <div class="col-md-3 col-sm-12 linkStyling">
                    @Html.ActionLink("All users", "Allusers", "Administration")
                </div>
            </div>
        }
    }
}
