html, body {
    height: 100%;
}

.view-container {
    min-height: 100%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1125px;
}

.b1 {
    border: none;
    background: none;
    cursor: pointer;
}
.row{
    width:100%;
    margin: 0;
}
.reset-padding{
    padding:0;
}

.bottom-padding{
    padding-bottom: 5px;
}
.fill-the-height{
    height: 100%;
}

/*<-- text -->*/

.text-color-red {
    color: red;
}

.text-color-white {
    color: white;
}

/*<-- links -->*/
.redColorUnderline {
    color: red;
    text-decoration: underline;
    float: right;
}

.redColorUnderline a {
    color: red;
}

.redColorUnderline a:hover {
    text-decoration: underline;
}

a {
    color: red;
    text-decoration: underline;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

/*<-- navbar -->*/

.navbar-Background {
    background-color: #333333;
    border-color: #333333;
    padding: 15px 5px 0px 5px;
}

.navbar-Link-color-white a {
    color: white;
    text-decoration: none;
}

.navbar-Link-color-white a:hover {
    color: red;
}

.navbar-midel {
    padding-bottom: 5px;
    padding-top: 5px;
}

.border-dashed-white {
    margin: 10px 0px 5px 0px;
    border: dashed;
    border-top-width: 1.5px;
    border-bottom-width: 1.5px;
    border-left-width: 0px;
    border-right: 0px;
    border-color: white;
    justify-content: space-between
}
/*<-- main -->*/

/* Set padding to keep content from hitting the edges */
.main-body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 130px;
    overflow:auto;
    background-color: #f9f9f9;
}

/*<-- fotter --> */
#footer {
    height: 130px;
    position: relative;
    margin-top: -130px;
    clear: both;
}

.fotter-backgrund {
    background-color: #333333;
    border-color: #333333;
}

.FooterPadding {
    padding: 15px 0px 0px 0px;
}

.fotter-Link {
    color: white;
    text-decoration: none;
}

.fotter-Link:hover {
    color: red;
    text-decoration: none;
}