@model Flick_Click.Models.SignInModel
@{
    ViewBag.Title = "SignedIn";
}

<div>
    @{
        var name = ViewBag.Message;
    }
    <strong>
        @name.FirstName;
    </strong>
    <strong>
        @name.LastName;
    </strong>

</div>

